In [ ]:
pip install kaggle kagglehub

In [ ]:
# import kaggle
# !kaggle datasets download ankitbansal06/retail-orders -f orders.csv

import kagglehub

# Download latest version
path = kagglehub.dataset_download("ankitbansal06/retail-orders")

print("Path to dataset files:", path)

In [ ]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv')
df.head(20)

In [ ]:
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

In [ ]:
#rename columns names.
#df.rename(columns={'Order Id':'order_id', 'City':'city'})

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [ ]:
df.head(5)

In [ ]:
#derive new columns discount, sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [ ]:
df.dtypes

In [ ]:
#convert the order_date from object data type to datetime
pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [ ]:
#convert the order_date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [ ]:
df['order_date']

In [ ]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)

In [ ]:
#load the data into sql server
df

In [ ]:
df.to_csv("cleaned_retail_orders.csv", index=False)

In [ ]:
pip install mysql-connector-python SQLAlchemy pymysql

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
# Establish a connection to the MySQL database
# connection = mysql.connector.connect(
#     host="localhost",  # or your MySQL server IP
#     user="root",  # e.g., 'root'
#     password="root",  # your MySQL password
#     database="retail_orders"  # The database where you want to load the data
# )

# OR you can use SQLAlchemy to simplify the process
#engine = create_engine('mysql+mysqlconnector://root:root@localhost/retail_orders')
#conn=engine.connect()

In [ ]:
# 
#df.to_sql('orders', con=conn, if_exists='replace', index=False)

In [ ]:
# import pandas as pd
# import mysql.connector
# from sqlalchemy import create_engine

# MySQL connection details
host = "localhost"
user = "root"  # Your MySQL username
password = "root"  # Your MySQL password
database = "retail_orders"  # Your database name

# Establish the connection using mysql-connector
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Create a cursor object using the connection
cursor = connection.cursor()

# Check if the table exists in the database (optional step)
cursor.execute("SHOW TABLES LIKE 'your_table_name'")
result = cursor.fetchone()

if not result:
    print("Table does not exist.")
else:
    print("Table exists. Proceeding to load data.")

# Now, load the data into the database using SQLAlchemy
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

# Replace 'your_table_name' with your actual table name
df.to_sql('df_orders', con=engine, if_exists='replace', index=False)

# Commit the transaction and close the connection
connection.commit()
cursor.close()
connection.close()

print("Data successfully loaded into MySQL!")

In [ ]:
len(df.columns)

In [ ]:
import matplotlib.pyplot as plt

top_products = df.groupby('product_id')['sale_price'].sum().sort_values(ascending=False).head(10)

plt.figure(figsize=(12, 6))
top_products.plot(kind='bar', color='skyblue')
plt.title('Top 10 Revenue-Generating Products')
plt.xlabel('Product ID')
plt.ylabel('Total Revenue')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()